.soporte{
    background: rgb(92, 126, 92);
    width: 30px;
    height: 100px;
    position: absolute;
    left: 120px;
    border: solid 2px black;
}

.semaforo{
    background: rgb(92, 126, 92);
    padding: 10px;
    display: inline-block;
    margin: auto;
    margin-top: 100px;
    border-radius: 9px;
    margin-left: 70px;
    border: solid 2px black;
}

.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 2px black;
}
.red{
    background: rgb(204, 87, 87);
}
.yellow{
    background: rgb(180, 180, 61);
}
.green{
    background: rgb(58, 141, 58);
}
.seleccionado{
    box-shadow: 0px 0px 14px 4px white;
    filter: drop-shadow(2px 3px 6px blue);
}

.redSel{
    background: red;
}

.yellowSel{
    background: yellow;
}

.greenSel{
    background: green;
}